/*RESET*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
{
    max-width: 100%;
}

.container
{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-debug
{
    /*DEBUG*/
    border: 2px solid black;
    min-height: 1000px;
}

ul
{
    list-style: none;
}

/*UTIL*/

.flex
{
    display: flex;
}

.space-between
{
    justify-content: space-between;
}

.flex-direction-row
{
    flex-direction: row;
}

.py-15
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.w-100pc
{
    width: 100%;
}

.position-sticky
{
    position: sticky;
    top: 0;
    z-index: 999;
}

.m-right-15
{
    margin-right: 15px;
}

.m-right-5
{
    margin-right: 5px;
}

/*BODY*/
.arial
{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
li > a:link, li > a:hover, li > a:visited, li > a:active
{
    color: white;
    text-decoration: none;
}

.logo-size
{
    max-width: 150px;
}

.bg-orange
{
    background-color: rgb(252, 93, 35);
}

.color-white
{
    color: white;
}

/*MAIN*/

.row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-30
{
    width: 30%;
    margin-bottom: 20px;
}

.card
{
    position: relative;
}

.tag
{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    position: absolute;
    top: 390px;
    left: 10px;

}


.discount
{
    background-color: red;
    color: white;
    font-size: 90%;
    padding: 5px;
}

.sostenibilita
{
    background-color: green;
    color: white;
    font-size: 90%;
    padding: 5px;
}

.like
{
  font-size: 2rem;
  background-color: white;
  position: absolute;
  right: 0;
  top: 2%;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.color-red
{
    color:red;
}

.image-box
{
    position: relative;
    float: left;
}

.image-hover
{
    display: none;
    position: absolute;
    top: 0;
}

.image-box:hover .image-hover
{
    display: block;
}


/*FOOTER*/

.bg-dark-gray
{
    background-color: rgb(33, 36, 43);
}

.font-70pc
{
    font-size: 70%;
}