/*RESET*/

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img
{
    max-width: 100%;
}

.container
{
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.container-debug
{
    /*DEBUG*/
    border: 2px solid black;
    min-height: 1000px;
}

ul
{
    list-style: none;
}

/*DEBUG*/
.debug-bg-black
{
    background-color: black;
}

/*UTIL*/

.flex
{
    display: flex;
}

.space-between
{
    justify-content: space-between;
}

.flex-direction-row
{
    flex-direction: row;
}

.py-15
{
    padding-top: 15px;
    padding-bottom: 15px;
}

.w-100pc
{
    width: 100%;
}

.position-sticky
{
    position: sticky;
    top: 0;
    z-index: 999;
}

.x-margin
{
    margin-left: 20px;
}

/*BODY*/
.arial
{
    font-family: Arial, Helvetica, sans-serif;
}

/*HEADER*/
li > a:link, li > a:hover, li > a:visited, li > a:active
{
    color: white;
    text-decoration: none;
}

.logo-size
{
    max-width: 150px;
}

.bg-orange
{
    background-color: rgb(252, 93, 35);
}

.color-white
{
    color: white;
}

/*MAIN*/

.row
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col-30
{
    width: 30%;
    margin-bottom: 20px;
}

.card
{
    position: relative;
}

.discount
{
    background-color: red;
    color: white;
    font-size: 90%;
    padding: 5px;
    position: absolute;
    left: 2%;
    bottom: 5%;
}

.sostenibilita
{
    background-color: green;
    color: white;
    font-size: 90%;
    padding: 5px;
    position: absolute;
    left: 17%;
    bottom: 5%;
}

.like
{
  font-size: 2rem;
  background-color: red;
  position: absolute;
  right: 0;
  top: 2%;
}

.color-red
{
    color:red;
}



/*FOOTER*/